<% layout('/layouts/boilerplate') %>
<body>
  <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
    <h3>Edit your Listing :)</h3>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="listing[title]"
      value="<%= listing.title %>"
      required
    />

    <label for="description">Description</label>
    <textarea id="description" name="listing[description]" required>
    <%= listing.description %></textarea
    >

    <label for="image">Image URL/Link</label>
    <input
      type="url"
      id="image"
      name="listing[image]"
      value="<%= listing.image %>"
      required
    />

    <label for="price">Price</label>
    <input
      type="number"
      id="price"
      name="listing[price]"
      value="<%= listing.price %>"
      required
    />

    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      name="listing[location]"
      value="<%= listing.location %>"
      required
    />

    <label for="country">Country</label>
    <input
      type="text"
      id="country"
      name="listing[country]"
      value="<%= listing.country %>"
      required
    />

    <button type="submit">Edit</button>
  </form>
</body>
