<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">
    <h4><%= listing.title %></h4>
    <div class="card">
      <div class="card-body">
        <img
          src="<%= listing.image %>"
          class="card-img-top show-img img-fluid"
          alt="listing_image"
        />
        <ul class="list-group list-unstyled mt-3">
          <li>
            <span class="fw-bold me-2">Description:</span>
            <span><%= listing.description %></span>
          </li>
          <li>
            <span class="fw-bold me-2">Price:</span>
            <span
              >&#8377; <%= listing.price.toLocaleString("en-IN") %> /night</span
            >
          </li>
          <li>
            <span class="fw-bold me-2">Location:</span>
            <span><%= listing.location %></span>
          </li>
          <li>
            <span class="fw-bold me-2">Country:</span>
            <span><%= listing.country %></span>
          </li>
          <li>
            <span class="fw-bold me-2">Owned by:</span>
            <span><%= listing.owner.username %></span>
          </li>
        </ul>
      </div>
      <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
      <div class="d-flex py-4">
        <a
          href="/listings/<%= listing._id %>/edit"
          class="btn btn-primary me-2 edit-btn"
          >Edit</a
        >
        <form
          action="/listings/<%= listing._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit" class="btn btn-dark">Delete</button>
        </form>
      </div>
      <% } %> <% if(currUser) { %>
      <div class="col-12 mb-2 ul-list">
        <hr class="ul-list" />
        <h4 class="fw-bold">Leave a Review</h4>
        <form
          action="/listings/<%= listing.id %>/reviews"
          method="POST"
          class="ul-list w-75 needs-validation"
          novalidate
        >
          <div class="mb-3 mt-3">
            <fieldset class="starability-slot">
              <p for="rating" class="form-label fw-bold">Rating:</p>
              <input
                type="radio"
                id="no-rate"
                class="input-no-rate"
                name="review[rating]"
                value="1"
                checked
                aria-label="No rating."
              />
              <input
                type="radio"
                id="first-rate1"
                name="review[rating]"
                value="1"
              />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="review[rating]"
                value="2"
              />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input
                type="radio"
                id="first-rate3"
                name="review[rating]"
                value="3"
              />
              <label for="first-rate3" title="Average">3 stars</label>
              <input
                type="radio"
                id="first-rate4"
                name="review[rating]"
                value="4"
              />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input
                type="radio"
                id="first-rate5"
                name="review[rating]"
                value="5"
              />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3 mt-2">
            <label for="comment" class="form-label fw-bold">Comments:</label>
            <textarea
              name="review[comment]"
              id="comment"
              cols="30"
              rows="5"
              class="form-control"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please add some comment for review
            </div>
          </div>
          <button type="submit" class="btn btn-primary add-btn mb-2">
            Submit
          </button>
        </form>
      </div>
      <% } %>
    </div>
    <hr />
    <b><h4>All Review</h4></b>
    <div class="row row-cols-1 row-cols-md-2">
      <% for( review of listing.reviews) { %>
      <div class="col">
        <div class="card review-card border">
          <div class="card-body mt-1 ms-2">
            <div class="d-flex align-items-center">
              <h6 class="card-title fw-bold">@<%= review.author.username %></h6>
            </div>
            <p
              class="starability-result card-text"
              data-rating="<%= review.rating %>"
            ></p>
            <p class="card-text"><%= review.comment %></p>

            <form
              class="mb-2"
              method="POST"
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            >
              <button class="btn btn-sm btn-dark">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
